*.o
*.ko
*.x
*.symvers
*.order
*.mod.c
*.csv
*.png
*.svg
*.swp
Make.dev
.vscode
.clangd
./*.sh
.vscode/
.continue/
.cursor/
data/
bin/
lib/
scripts/
.DS_Store
result*/*
__pycache__/

# Kernel modules
*.ko
*.o
*.mod.c
*.order
*.symvers
*.cmd
*.mod
*.mod.o
*.mod.o.cmd
*.mod.o.o
*.mod.o.o.cmd

# Ignore CMake temporary files
build/
build*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
.cache/